<section>
  <form action="<%= redirectUrl %>" method="post">
    <fieldset>
      <legend>Password reset for Vision Calling</legend>
      <br />
      <div>
        <label for="newPassword">New password:</label>
        <input type="password" id="newPassword" name="newPassword" />
      </div>
      <br />
      <div>
        <label for="confirmPassword">Confirm new password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" />
      </div>
      <br />
      <div>
        <input type="submit" value="Reset password" />
      </div>
    </fieldset>
  </form>
</section>
